In [3]:
import sqlite3
conn = sqlite3.connect("Cars")
cursor = conn.cursor()

In [4]:
#DELETE ALL
cursor.execute("DROP TABLE IF EXISTS Cars")

In [5]:
# CREATE DATABASE
cursor.execute(""" 
              CREATE TABLE IF NOT EXISTS Cars(
                car text,
                engine text,
                price integer
              )
              """)

In [12]:
#INSERT CAR
car = input("Car name")
engine = input("Engine name")
price = input("price")

cursor.execute("""
              INSERT INTO Cars (car, engine, price) VALUES (?, ?, ?)
              """, (car, engine, price))

In [14]:
#UPDATE CAR
carNameUpdateCurrent = input("Car name for update")
carNameUpdateNew = input("New car name")
cursor.execute("""
              UPDATE Cars       
              SET car = ?
              WHERE car = ?       
              """, (carNameUpdateNew, carNameUpdateCurrent))

In [52]:
#DELETE CAR
deleteCar = input("delete a car")
cursor.execute("""
              DELETE FROM Cars
              WHERE car = ?
              """, (deleteCar,))
conn.commit()

In [15]:
#VISUALIZE CAR
cursor.execute(""" 
            SELECT * FROM Cars
            """)
for i in cursor.fetchall():
  print(i)

('porsche ', 'v6', 100)
('porsche', 'boxer', 10)